@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --safe-area-inset-top: env(safe-area-inset-top, 0px);
    --safe-area-inset-bottom: env(safe-area-inset-bottom, 0px);
    --safe-area-inset-left: env(safe-area-inset-left, 0px);
    --safe-area-inset-right: env(safe-area-inset-right, 0px);
  }

  html {
    @apply antialiased;
  }

  body {
    @apply bg-slate-900 text-slate-100;
  }
}

@layer utilities {
  .pt-safe-area-inset-top {
    padding-top: var(--safe-area-inset-top);
  }

  .pb-safe-area-inset-bottom {
    padding-bottom: var(--safe-area-inset-bottom);
  }

  .top-safe-area-inset-top {
    top: var(--safe-area-inset-top);
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .page-container {
    @apply mx-auto w-full max-w-4xl px-4 md:px-6 lg:px-8;
  }
}
